{% extends 'base.html'%}
{%block title%}AFMS-Airlines{%endblock%}
{% block content %}



<h1>Airline List</h1>
<table>

<tr>

<th>Airline ID</th>
<th>Airline Name</th>
<th>IATA CODE</th>
<th>ICAO CODE</th>
<th>Country</th>
<th>Edit</th>
<th>Delete</th>

</tr>

{%for Airline in Airline_Data%}
<tr>

<td>{{Airline.Airline_ID}}</td>
<td>{{Airline.Name}}</td>
<td>{{Airline.IATA_Code}}</td>
<td>{{Airline.ICAO_Code}}</td>
<td>{{Airline.Country}}</td>

<td>
<a href="{{url_for('Airlines.Update_Airline',id=Airline.Airline_ID)}}" >Edit</a>
</td>

<td>

<form action="{{url_for('Airlines.Delete_Airline',id=Airline.Airline_ID)}}" method="POST" style="margin: 0;">

<button type="submit" class="btn-delete" >Delete</button>

</form>

</td>





</tr>
{%endfor%}

</table>


<h1>Add Airline</h1>
<div>

<form action="{{ url_for('Airlines.Add_Airline')}}" method="POST">
    
    <label for="airline_name">Airline Name:</label>
    <input type="text" id="airline_name" name="Airline_Name">
    <br>
    
    <label for="iata_code">IATA Code:</label>
    <input type="text" id="iata_code" name="IATA_Code">
    <br>

    <label for="icao_code">ICAO Code:</label>
    <input type="text" id="icao_code" name="ICAO_Code">
    <br>

    <label for="airline_country">Country:</label>
    <input type="text" id="airline_country" name="Airline_Country">
    
    <br>
    <button type="submit" class="btn-submit">Add Flight</button>

</form>

</div>


{%endblock%}