<!DOCTYPE html>
<html>
<head>
<title>AFMS</title>

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>

    <h1>Airport List</h1>

    <table>
        <tr>
        <th>Airport ID</th>
        <th>IATA Code</th>
        <th>Airport Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>

        {%for Airport in Airport_Data%}

        <tr>
            <td>{{Airport.Airport_ID}}</td>
            <td>{{Airport.IATA_Code}}</td>
            <td>{{Airport.Airport_Name}}</td>
            <td>{{Airport.Airport_City}}</td>
            <td>{{Airport.Airport_Country}}</td>

            <td>
                <a href="{{url_for('Airports.Update_Airport' , id=Airport.Airport_ID)}}" style="text-decoration: none; background-color: #f39c12; color: white; padding: 8px 12px; border-radius: 4px; margin-right: 5px; font-weight: bold; font-size: 14px;">Edit</a>
            </td>


            <td>
            <form action="{{url_for('Airports.Delete_Airport' , id=Airport.Airport_ID)}}" method="POST" >
                <button type="submit">Delete</button>
            </form>
            
            </td>

            


        </tr>
        {%endfor%}
        
    </table>


<h1>Add Airport</h1>

<form action="{{url_for('Airports.Add_Airport')}}" method="POST">

    <label>IATA Code</label>
    <input type="text" name="Airport_IATA_Code"><br>

    <label>Name</label>
    <input type="text" name="Airport_Name"><br>

    <label>City</label>
    <input type="text" name="Airport_City"><br>

    <label>Country</label>
    <input type="text" name="Airport_Country"><br>

    <button type="submit" class="btn-submit">Add</button>

    





</form>




</body>
</html>